
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>In this review we will review the following points</p>
<p>Look in the code for the explanation, this is just a display example</p>
<p>Yes for once I documented my shits and fairly enough</p>
<ul>
    <li>@Html.ActionLink("Scaffolding steps", "BOG_Index", "BasicDemoClasses")</li>
    <li>@Html.ActionLink("LINQ", "BOG_Index", "BasicDemoClasses")</li>
    <li>@Html.ActionLink("View Models", "ComboOf2Models", "Main")</li>
    <li>@Html.ActionLink("Custom Templates", "SpecificTemplates", "Main")</li>
    <li>@Html.ActionLink("Angela Smith", "ANGELA", "Main")</li>
</ul>

<p>Note there was no DB first, since I started the project with code first and you cannot,
    Technically, mix them (It was hell)</p>
<p>ENJOY!!!!</p>