
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>In this review we will review the following points</p>
<ul>
    <li>@Html.ActionLink("Scaffolding steps", "", "")</li>
    <li>@Html.ActionLink("DB first aproach", "", "")</li>
    <li>@Html.ActionLink("LINQ", "", "")</li>
    <li>@Html.ActionLink("View Models", "", "")</li>
    <li>@Html.ActionLink("Custom Templates", "", "")</li>
    <li>@Html.ActionLink("Angela Smith", "", "")</li>
</ul>