@model REV_EXAM_3.Models.DBFirstDemo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DBFirstDemo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.value1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.value4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value4)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
